<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberMapper">

	<!-- 전체 조회 -->
  <select id="selectAll" resultType="dto.MemberDTO">
    select id, name, password, email, phone
    from members
    order by id desc;
  </select>
  
  	<!-- 1개만 조회 -->
  <select id="selectById" resultType="dto.MemberDTO">
    select id, name, password, email, phone, role
    from members
    where id = #{id};
  </select>
  
  	<!-- insert 추가하기 -->
  <insert id="insert" parameterType="dto.MemberDTO"
  	useGeneratedKeys="true" keyProperty="id">
    insert into members (id, name, password, email, phone, role)
    values (#{id}, #{name}, #{password}, #{email}, #{phone}, #{role})
  </insert>
  
  	<!-- update 수정하기 -->
  <update id="update" parameterType="dto.MemberDTO"
  	useGeneratedKeys="true" keyProperty="id">
    update members set
    name = #{name}, password = #{password}, 
    email = #{email}, phone = #{phone}
    where id = #{id}
  </update>  
  
  	<!-- delete 삭제하기 -->
  <delete id="delete" parameterType="String">
    delete from members
    where id = #{id}
  </delete>  
  
  
  
</mapper>